
//qui riscrivere le variabili



//font-family: 'Archivo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

//Messapia
@font-face {
  font-family: Messapia-Bold;
  src: url('../font/Messapia-Bold.woff') format('woff'),
  url('../font/Messapia-Bold.woff2') format('woff2')
}

@font-face {
  font-family: Messapia-Reg;
  src: url('../font/Messapia-Regular.woff') format('woff'),
  url('../font/Messapia-Regular.woff2') format('woff2')
}

@font-face {
  font-family: Favorit-Bold;
  src: url('../font/favorit-bold-webfont.woff2') format('woff2'),
  url('../font/favorit-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Favorit-Exp-Bold;
  src: url('../font/favorit-boldexpanded-webfont.woff2') format('woff2'),
  url('../font/favorit-boldexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritextended_bold';
  src: url('../font/favorit-boldextended-webfont.woff2') format('woff2'),
  url('../font/favorit-boldextended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritbold_italic';
  src: url('../font/favorit-boldita-webfont.woff2') format('woff2'),
  url('../font/favorit-boldita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritlight';
  src: url('../font/favorit-light-webfont.woff2') format('woff2'),
  url('../font/favorit-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Favorit-Exp-Light;
  src: url('../font/favorit-lightexpanded-webfont.woff2') format('woff2'),
  url('../font/favorit-lightexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritextended_light';
  src: url('../font/favorit-lightextended-webfont.woff2') format('woff2'),
  url('../font/favorit-lightextended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritlight_italic';
  src: url('../font/favorit-lightita-webfont.woff2') format('woff2'),
  url('../font/favorit-lightita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritmedium';
  src: url('../font/favorit-medium-webfont.woff2') format('woff2'),
  url('../font/favorit-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Favorit-Exp-Medium;
  src: url('../font/favorit-mediumexpanded-webfont.woff2') format('woff2'),
  url('../font/favorit-mediumexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritextended_medium';
  src: url('../font/favorit-mediumextended-webfont.woff2') format('woff2'),
  url('../font/favorit-mediumextended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'favoritmedium_italic';
  src: url('../font/favorit-mediumita-webfont.woff2') format('woff2'),
  url('../font/favorit-mediumita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//background color
$primary: #FCFBF6;

//yellow
$secondary: #F4B63E;

//Main font
$font-family-sans-serif: Archivo, sans-serif;

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 3.5rem,
  4: 2.5rem,
  5: 2rem,
  7: 1.3rem,
  6: 0.8rem
) !default;


@import "~bootstrap";

html {
  --font-text: "Archivo", sans-serif;
  --font-light: 400;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-xbold: 700;
  --font-xxbold: 800;
  --fontitalic: italic;
}

body {
overflow-x: hidden;
  background-color: #fcfbf6;
}

main {
  overflow-x: hidden;
}

a {
  color: #1a1e21;
  text-decoration: none;
}

.messapiaSerif {
  font-family: Messapia-Reg;
}

.bigText {
  font-family: Favorit-Exp-Light;
}

.fontText {
  font-family: var(--font-text);
  line-height: 1.1rem;
}

.fontTextStrong {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
}

.fontTextItalic {
  font-family: var(--font-text);
  font-style: var(--fontitalic);
  font-weight: var(--font-light);
}

//##################### INDEX #####################
.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}

#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.finalQuote {
  text-align: center;
  padding-right: 30vh;
  padding-left: 30vh;
  margin-top: 20vh;;
}

.scroll {
  position: absolute;
  bottom: 5%;
  left:50%;
}
//##################### ABOUT #####################

.bordoTopAbout {
  border-top: 1px solid #497065;
}

.bordoBottomAbout {
  border-bottom: 1px solid #497065;
}

.borderLeftAbout {
  border-left: 1px solid #497065;
}

.borderBottomAbout {
  border-bottom: 1px solid  #497065;
}

.upper {
  text-transform: uppercase;
  color: #497065;
}

//##################### MENU #####################
.altezzaSvg {
height: 10px;
}


//##################### START #####################

#test_svg__blur, #test_svg__blur-2, #test_svg__blur-1, #test_svg__blur-3, #test_svg__blur-4, #test_svg__blur-5, #test_svg__blur-6, #test_svg__blur-7, #test_svg__blur-8  {
  filter: blur(2px);
}



.contentGreen {
  color: #497065;
}

button {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #FCFBF6;
  padding: 0.5rem;
  font-weight: var(--font-bold);
}

.box {
  background: #F4B63E;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 24px;
  color:white;
}


.unoa {
  position: absolute;
  top: 15%;
  left: 12%;
  opacity: 0;
}

.unoaPost {
  position: absolute;
  top: 15%;
  left: 12%;
  opacity: 1;
}

.duea {
  position: absolute;
  top: 34%;
  left: 23%;
  opacity: 0;
  width: 30%;
}

.dueaPost {
  position: absolute;
  top: 34%;
  left: 23%;
  opacity: 1;
  width: 30%;
}

.trea {
  position: absolute;
  top: 44%;
  left: 13%;
  opacity: 0;
}

.treaPost {
  position: absolute;
  top: 44%;
  left: 13%;
  opacity: 1;
}

#test_svg__uno, #test_svg__due, #test_svg__tre{
  cursor: pointer;
}





