
//qui riscrivere le variabili



//font-family: 'Archivo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

//Messapia
@font-face {
  font-family: Messapia-Bold;
  src: url('../font/Messapia-Bold.woff') format('woff'),
  url('../font/Messapia-Bold.woff2') format('woff2')
}

@font-face {
  font-family: Messapia-Reg;
  src: url('../font/Messapia-Regular.woff') format('woff'),
  url('../font/Messapia-Regular.woff2') format('woff2')
}


//background color
$primary: #FCFBF6;

//yellow
$secondary: #F4B63E;

//Main font
$font-family-sans-serif: Messapia-Bold, sans-serif;

html,body{
  padding:0;
  margin:0;
}
body {
  overflow-x: hidden;
}

#container {
  background-color:grey;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
}

.module{
  height:100%;
  width: 100%;
  display:flex;
}

#intro {
 height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background: red;
}



@import "~bootstrap";
